@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Das' OC2.0 Planner</h1>

<p>This tool is still a work-in-progress. This may break through improper (and proper) use.</p>
<br />
<p>Downloading this was an act of trust not taken lightly. You should not download EXE-files from people on the internet, let alone start them.</p>
<br />
<p>But here we are, thank you for trusting me on this one :)</p>
<br />
<p>Updates will follow eventually hopefully maybe.</p>
<br />
<br />
<h3>How to proceed:</h3>
<ul>
	<li>Click on "Faction" to go to the faction tab. </li>
	<li>There you will need a Minimal Access API Token with Faction API access.</li>
	<li>Click on "Load OCs from API". All completed faction OCs will be loaded.</li>
	<li>The table with the factions can be sorted by clicking on the table headers</li>
	<li>To start planning OCs for users select an OC in the dropdown list and click "Plan users for OC"</li>
	<li>then you can plan users for OCs (only positions, that users have completed before are available for this)</li>
</ul>
<p>switching from the planning tab to anything else will NOT save your progress. You have been warned</p>